table.datatable tfoot td
{
    text-align: center;
    background-color: #B8B8B8;
}
    
table.datatable th
{
    background-color: #B8B8B8;
}

table.datatable th span
{
    margin: 0px 10px 0px 10px;    
}